[x-cloak] {
    display: none;
}

.form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-select {
    @apply block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-textarea {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-checkbox {
    @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

pre, code, kbd, samp {
    font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-interno {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.nav-interno nav.tabs {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nav-interno nav.tabs .tab.active {
    border-color: rgb(2, 94, 140);
    border-color: rgba(2, 94, 140, var(--border-opacity));
    border-bottom: 2px solid rgb(2, 94, 140);
}

button:focus {
    outline: none!important;
}

.border-indigo-400 {
    --border-opacity: 1;
    border-color: rgb(2 94 140)!important;
    border-color: rgba(2, 94, 140, var(--border-opacity))!important;
}

h2.font-semibold.text-xl.text-gray-800.leading-tight.mb-2 {
    color: #0c5b8b;
    margin: 0 auto 1.5rem;
    font-size: 22px;
}
.px-6 {
    padding-left: 0.9rem!important;
    padding-right: 0.9rem!important;
}
