[x-cloak] {
    display: none;
}

.form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-select {
    @apply block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-textarea {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-checkbox {
    @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

pre, code, kbd, samp {
    font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-interno {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.nav-interno nav.tabs {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nav-interno nav.tabs .tab.active {
    border-color: rgb(2, 94, 140);
    border-color: rgba(2, 94, 140, var(--border-opacity));
    border-bottom: 2px solid rgb(2, 94, 140);
}

button:focus {
    outline: none!important;
}

.border-indigo-400 {
    --border-opacity: 1;
    border-color: rgb(2 94 140)!important;
    border-color: rgba(2, 94, 140, var(--border-opacity))!important;
}

h2.font-semibold.text-xl.text-gray-800.leading-tight.mb-2 {
    color: #0c5b8b;
    margin: 0 auto 1.5rem;
    font-size: 22px;
}
.px-6 {
    padding-left: 0.9rem!important;
    padding-right: 0.9rem!important;
}
fieldset {
    border: 1px solid rgb(30, 41, 59);
    border-radius: 8px;
    padding: 25px;
    padding-top: 10px;
    font-size: 14px;
    min-height: 400px;
    position: relative;
}

fieldset legend {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
fieldset > p {
    font-weight: bold;
}
fieldset .datos {
    padding: 0 10px;
    margin-bottom: 15px;
}
fieldset .estado {
    padding: 0 10px;
    margin-bottom: 15px;
}
fieldset .tabla table tr td:last-child {
    text-align: right!important;
}
fieldset .tabla table tr td:nth-child(2) {
    text-align: center;
}
fieldset .tabla table {
    width: 97%;
    margin: 0 auto;
}
fieldset .tabla table tr:nth-last-of-type(4) {
    border-bottom: 1px solid rgb(30, 41, 59, 0.5);
}
fieldset .tabla table tr td {
    padding: 2px;
}
fieldset .acciones {
    position: absolute;
    bottom: -117px;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nav-ventas.mx-auto.nav-interno {
    max-width: 76rem;
    border-radius: 8px;
}
.nav-ventas.mx-auto.nav-interno nav.tabs button.tab {
    font-size: 15px;
    line-height: 20px;
}

fieldset .acciones button {
    margin: 0 10px;
}
.tab-content.panel-venta {
    margin-top: 45px;
}
nav .max-w-7xl.mx-auto.px-4 .flex.justify-between.h-16 .flex .hidden.space-x-8 .relative {
    display: flex;
}

nav .max-w-7xl.mx-auto.px-4 .flex.justify-between.h-16 .flex .hidden.space-x-8 .relative a.inline-flex.items-center.px-1.pt-1.border-b-2.border-transparent.text-sm.font-medium.leading-5.text-gray-500 {
    display: flex;
    height: 100%;
}
nav .max-w-7xl.mx-auto.px-4 .flex.justify-between.h-16 .flex .hidden.space-x-8 .relative .absolute.z-50.mt-2.w-48.rounded-md.shadow-lg.origin-top-right.right-0 {
    top: 60px;
    right: auto;
}
.table-cell.overflow-hidden.align-top {
    vertical-align: middle;
}

.table-cell.overflow-hidden.align-top .flex.flex-col input.m-1.text-sm.leading-4.flex-grow.form-input {
    width: 95%;
    margin: 10px auto;
}

.table-cell.overflow-hidden.align-top .flex.flex-col {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.py-12 .max-w-7xl.mx-auto {
    padding: 0;
    max-width: 95%;
    margin: 0 auto;
}
